node_modules
build
build-storybook.log
package-lock.json

# production
build/
conf/
dist/
babel.config.json
.storybook
./src/stories

# misc
.env
.npmrc
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
logs/
*.cache
*.log
*.sql
*.7z
*.zip
.npmignore
src/elements/icon/_svg_
