node_modules
build
build-storybook.log
package-lock.json

# production
build/
conf/
dist/

# misc
.env
.npmrc
.env.local
.env.development.local
.env.test.local
.env.production.local
.eslintcache
logs/
*.cache
*.log
*.sql
*.7z
*.zip
.npmignore
