.avatar-kariu {
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: default;
	margin: auto;
	font-weight: bold;
}
.avatar-kariu--shape-round {
	border-radius: 50%;
}
.avatar-kariu--shape-square {
	border-radius: 15%;
}
.avatar-kariu--size-small {
	width: 1.5rem;
	height: 1.5rem;
	font-size: 0.75rem;
}
.avatar-kariu--size-medium {
	width: 2rem;
	height: 2rem;
	font-size: 1.25rem;
}
.avatar-kariu--size-big {
	width: 4rem;
	height: 4rem;
	font-size: 2rem;
}
.avatar-kariu--size-giant {
	width: 7rem;
	height: 7rem;
	font-size: 4rem;
}
