.kariu-button {
  font-weight: 700;
  border: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
  margin: auto;
}
.kariu-button--xSmall {
  font-size: 0.45rem;
  padding: 0.45rem;
}
.kariu-button--small {
  font-size: 0.55rem;
  padding: 0.55rem;
}
.kariu-button--medium {
  font-size: 0.85rem;
  padding: 0.65rem;
}
.kariu-button--large {
  font-size: 1.25rem;
  padding: 1rem;
}
.kariu-button--rounded {
	border-radius: 3em;
}
.kariu-button--round {
	border-radius: 50%;
}
.kariu-button--basic {
	border-radius: 0.5em;
}
.kariu-button:active {
	filter: brightness(85%);
}
.kariu-button:focus {
	outline: 1px dashed;
	outline-color: inherit;
}
.kariu-button--primary {
  color: #333;
  background-color: transparent;
}
.kariu-button--icon {
	font-weight: bolder;
	margin: 2px; 
}
