.input-kariu--wrapper {
	position: relative !important;
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;
	cursor: default;
}
.input-kariu {
	width: 100%;
	padding: 10px 15px;
	margin: 8px 0;
	display: flex;
	border: 1.25px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.button-eye-kariu {
	position: absolute;
	top: 40%;
	right: 0%;
}
.button-eye-kariu:focus {
	outline: none;
}
.input-kariu:focus {
	border-color: #309bc2;
	border-width: medium;
}
.input-kariu:required {
	border-color: #ed4637;
}
.input-kariu:hover {
	border-color: #309bc2;
}
.input-kariu:disabled {
	border-color: grey;
	background-color: lightgrey;
}
.input-kariu--label {
	display: flex;
}
