.input-kariu--wrapper {
	display: flex;
	width: 100%;
	position: relative;
	flex-direction: column;
	flex-flow: column nowrap;
	cursor: default;
}
.input-kariu {
	display: flex;
	width: 100%;
	padding: 10px 15px;
	margin: 5px 0px;
	display: flex;
	border: 1.25px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.button-eye-kariu {
	display: block;
	position: absolute;
	margin-right: 0.5rem;
	padding: 0;
	top: 47%;
	right: 0%;
}
.button-eye-kariu:focus {
	outline: none;
}
.input-kariu:focus {
	border-color: #309bc2;
	border-width: medium;
}
.input-kariu:required {
	border-color: #ed4637;
}
.input-kariu:disabled {
	border-color: grey;
	background-color: lightgrey;
}
.input-kariu--label {
	display: flex;
}
.input-kariu[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}
.input-Kariu--description {
	margin-top: 0;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 15px;
	cursor: pointer;
	/* box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d; */
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
.checkbox-kariu--wrapper, .radio-kariu--wrapper {
	display: flex;
	line-height: normal;
}

.checkbox-kariu {
	-webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	vertical-align: text-bottom;
	border-radius: 4px;
	height: 1rem;
	width: 1rem;
	margin-right: .25rem;
	background: #fff;
	border: 1px solid #ccc;
}
.radio-kariu {
	vertical-align: text-bottom;
	border-radius: 4px;
	height: .95rem;
	width: .95rem;
	margin-right: .25rem;
}

.input-kariu[type=search] {
	width: auto;
}
