.input-kariu--wrapper {
	position: relative !important;
	display: flex;
	flex-direction: column;
	flex-flow: column nowrap;
	cursor: default;
}
.input-kariu {
	width: 100%;
	padding: 10px 15px;
	margin: 5px 0px;
	display: flex;
	border: 1.25px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}
.button-eye-kariu {
	position: absolute;
	top: 40%;
	right: 0%;
}
.button-eye-kariu:focus {
	outline: none;
}
.input-kariu:focus {
	border-color: #309bc2;
	border-width: medium;
}
.input-kariu:required {
	border-color: #ed4637;
}
.input-kariu:disabled {
	border-color: grey;
	background-color: lightgrey;
}
.input-kariu--label {
	display: flex;
}
.input-kariu[type=number]::-webkit-inner-spin-button {
	opacity: 1;
}
.input-Kariu--description {
	margin-top: 0;
}
input[type=range]::-webkit-slider-runnable-track {
	width: 100%;
	height: 15px;
	cursor: pointer;
	box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
	background: #3071a9;
	border-radius: 1.3px;
	border: 0.2px solid #010101;
}
